<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.ay.imageProcessor</string>
    <key>connections</key>
    <dict>
      <key>057B456E-2052-4A2A-B546-8BDE958BED23</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>314F7A31-D6EB-41A3-97EE-4B86516718CD</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>05FFB6E2-C3D8-403F-A328-935BF9E94278</key>
      <array/>
      <key>06A1BF84-7D11-4901-85C1-D731B8C631E3</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>C22A37A0-4183-4F45-86E1-FCFF471C3173</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>18FFFE00-675F-4143-904B-6A34BBEBD80D</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>D9DC6744-BC14-4831-ACC7-68BE471AFD3E</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>314F7A31-D6EB-41A3-97EE-4B86516718CD</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>05FFB6E2-C3D8-403F-A328-935BF9E94278</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>36BE40F3-CB2C-4ABD-A1CF-DE3A67DF7C7F</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>BF6FE28F-B4CA-4B1B-A65D-DF03C45913C8</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>3CB8154C-3B92-40D3-9D42-5D6B83477F55</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>E4774F90-84EB-4E66-8C57-545E502D6592</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>8551D5B5-2575-4293-A514-2D1FEB176DA7</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>36BE40F3-CB2C-4ABD-A1CF-DE3A67DF7C7F</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>AAC76CD5-61D3-450C-A0D4-1A4C25939902</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>18FFFE00-675F-4143-904B-6A34BBEBD80D</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>BF6FE28F-B4CA-4B1B-A65D-DF03C45913C8</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>05FFB6E2-C3D8-403F-A328-935BF9E94278</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>C22A37A0-4183-4F45-86E1-FCFF471C3173</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>BF6FE28F-B4CA-4B1B-A65D-DF03C45913C8</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>D9DC6744-BC14-4831-ACC7-68BE471AFD3E</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>05FFB6E2-C3D8-403F-A328-935BF9E94278</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>E4774F90-84EB-4E66-8C57-545E502D6592</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>D9DC6744-BC14-4831-ACC7-68BE471AFD3E</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>FF18904C-836A-4363-9FC0-0E10FA3EFC69</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>314F7A31-D6EB-41A3-97EE-4B86516718CD</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>WHITEBG-KEYWORD-001</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>057B456E-2052-4A2A-B546-8BDE958BED23</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>WHITEBG-TRIGGER-001</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>FF18904C-836A-4363-9FC0-0E10FA3EFC69</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>ay</string>
    <key>description</key>
    <string>beautify the screenshots or images</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>Image beautifier</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>acceptsmulti</key>
          <integer>1</integer>
          <key>filetypes</key>
          <array/>
          <key>name</key>
          <string>图片处理：添加圆角和背景色</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.trigger.action</string>
        <key>uid</key>
        <string>8551D5B5-2575-4293-A514-2D1FEB176DA7</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string/>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>files</key>
            <string>{query}</string>
            <key>source</key>
            <string>file</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>36BE40F3-CB2C-4ABD-A1CF-DE3A67DF7C7F</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string/>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>action</key>
            <string>beautify</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>BF6FE28F-B4CA-4B1B-A65D-DF03C45913C8</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>2</integer>
          <key>keyword</key>
          <string>图片处理：添加圆角和背景色</string>
          <key>subtext</key>
          <string>Add rounded corners and background color</string>
          <key>text</key>
          <string>图片处理：添加圆角和背景色</string>
          <key>withspace</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.keyword</string>
        <key>uid</key>
        <string>06A1BF84-7D11-4901-85C1-D731B8C631E3</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string/>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>source</key>
            <string>clipboard</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>C22A37A0-4183-4F45-86E1-FCFF471C3173</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>2</integer>
          <key>keyword</key>
          <string>图片处理：添加撕裂边缘特效</string>
          <key>subtext</key>
          <string>Add torn edge effect</string>
          <key>text</key>
          <string>图片处理：添加撕裂边缘特效</string>
          <key>withspace</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.keyword</string>
        <key>uid</key>
        <string>AAC76CD5-61D3-450C-A0D4-1A4C25939902</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string/>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>source</key>
            <string>clipboard</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>18FFFE00-675F-4143-904B-6A34BBEBD80D</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>lastpathcomponent</key>
          <false/>
          <key>onlyshowifquerypopulated</key>
          <false/>
          <key>removeextension</key>
          <false/>
          <key>text</key>
          <string/>
          <key>title</key>
          <string>图像处理完成！！！！</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.notification</string>
        <key>uid</key>
        <string>7033D677-A3ED-421A-9A10-8AF113D22708</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>#!/bin/bash

# Get the absolute path of the Python script
SCRIPT_PATH="main.py"

# Check if PYTHON_PATHS is set
if [ -z "$PYTHON_PATHS" ]; then
    echo "Error: PYTHON_PATHS environment variable is not set." &gt;&amp;2
    exit 1
fi

# Get the PYTHON_PATHS variable from Alfred (or elsewhere)
IFS=':' read -r -a paths &lt;&lt;&lt; "$PYTHON_PATHS"

# Flag to track if any successful execution occurred
success=false

# Check each path and find the first valid one that executes the script successfully
for path in "${paths[@]}"; do
    if [ -x "$path" ]; then
        # Run the Python script with the valid path
        echo "Trying Python interpreter: $path" &gt;&amp;2

        # Execute the Python script and capture its exit code
        "$path" "$SCRIPT_PATH" $action $source
        python_exit_code=$?

        # Check if the Python script executed successfully
        if [ $python_exit_code -eq 0 ]; then
            success=true
            echo "Python script executed successfully with: $path" &gt;&amp;2
            exit 0  # Script ran successfully, so exit
        else
            echo "Python script failed with exit code $python_exit_code using interpreter: $path" &gt;&amp;2
            # Continue to the next path in the loop
        fi
    fi
done

# If no valid Python path is found or all executions failed, print an error and exit
if [ "$success" = false ]; then
    echo "Error: No valid Python path found or all Python executions failed." &gt;&amp;2
    exit 1
fi</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>05FFB6E2-C3D8-403F-A328-935BF9E94278</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string/>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>action</key>
            <string>torn_edge</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>D9DC6744-BC14-4831-ACC7-68BE471AFD3E</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>acceptsmulti</key>
          <integer>1</integer>
          <key>filetypes</key>
          <array/>
          <key>name</key>
          <string>图片处理：添加撕裂边缘特效</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.trigger.action</string>
        <key>uid</key>
        <string>3CB8154C-3B92-40D3-9D42-5D6B83477F55</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string/>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>files</key>
            <string>{query}</string>
            <key>source</key>
            <string>file</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>E4774F90-84EB-4E66-8C57-545E502D6592</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>acceptsmulti</key>
          <integer>1</integer>
          <key>filetypes</key>
          <array/>
          <key>name</key>
          <string>图片处理：白底替换</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.trigger.action</string>
        <key>uid</key>
        <string>WHITEBG-TRIGGER-001</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string/>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>files</key>
            <string>{query}</string>
            <key>source</key>
            <string>file</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>FF18904C-836A-4363-9FC0-0E10FA3EFC69</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string/>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>action</key>
            <string>whitebg</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>314F7A31-D6EB-41A3-97EE-4B86516718CD</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>2</integer>
          <key>keyword</key>
          <string>图片处理：白底替换</string>
          <key>subtext</key>
          <string>Replace the transparent areas of the image with a white background</string>
          <key>text</key>
          <string>图片处理：白底替换</string>
          <key>withspace</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.keyword</string>
        <key>uid</key>
        <string>WHITEBG-KEYWORD-001</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string/>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>source</key>
            <string>clipboard</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>057B456E-2052-4A2A-B546-8BDE958BED23</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
    </array>
    <key>readme</key>
    <string>Universal Actions let you take any text, URLs or files and perform actions on them from anywhere on your Mac.

This workflow shares various ways of using Universal Actions:

1. The "Trim text" action will appear in your Actions panel for text-based selections. Choosing it will trim white spaces at the beginning and end of the text you copied. Holding ⌘ (Cmd) while pressing return will take the alternative path, where your text will be uppercased.

In both cases, you then return to Alfred's Actions panel with your newly transformed text.

2. Hotkeys are stripped on import, to ensure that they don't clash with your existing hotkeys, so double-click the object and set your own hotkey. 

Using this hotkey will bring up the Action panel, pre-populated with your clipboard contents.

3. Add Universal Actions as an Alfred Fallback Search result.</string>
    <key>uidata</key>
    <dict>
      <key>057B456E-2052-4A2A-B546-8BDE958BED23</key>
      <dict>
        <key>xpos</key>
        <integer>555</integer>
        <key>ypos</key>
        <integer>855</integer>
      </dict>
      <key>05FFB6E2-C3D8-403F-A328-935BF9E94278</key>
      <dict>
        <key>colorindex</key>
        <integer>12</integer>
        <key>xpos</key>
        <integer>995</integer>
        <key>ypos</key>
        <integer>510</integer>
      </dict>
      <key>06A1BF84-7D11-4901-85C1-D731B8C631E3</key>
      <dict>
        <key>colorindex</key>
        <integer>12</integer>
        <key>note</key>
        <string>美化剪贴板上的截图，并复制美化图像到剪贴板上</string>
        <key>xpos</key>
        <integer>140</integer>
        <key>ypos</key>
        <integer>265</integer>
      </dict>
      <key>18FFFE00-675F-4143-904B-6A34BBEBD80D</key>
      <dict>
        <key>xpos</key>
        <integer>310</integer>
        <key>ypos</key>
        <integer>495</integer>
      </dict>
      <key>314F7A31-D6EB-41A3-97EE-4B86516718CD</key>
      <dict>
        <key>xpos</key>
        <integer>650</integer>
        <key>ypos</key>
        <integer>790</integer>
      </dict>
      <key>36BE40F3-CB2C-4ABD-A1CF-DE3A67DF7C7F</key>
      <dict>
        <key>xpos</key>
        <integer>305</integer>
        <key>ypos</key>
        <integer>140</integer>
      </dict>
      <key>3CB8154C-3B92-40D3-9D42-5D6B83477F55</key>
      <dict>
        <key>note</key>
        <string>在Finder选择图像文件</string>
        <key>xpos</key>
        <integer>140</integer>
        <key>ypos</key>
        <integer>620</integer>
      </dict>
      <key>7033D677-A3ED-421A-9A10-8AF113D22708</key>
      <dict>
        <key>xpos</key>
        <integer>1190</integer>
        <key>ypos</key>
        <integer>505</integer>
      </dict>
      <key>8551D5B5-2575-4293-A514-2D1FEB176DA7</key>
      <dict>
        <key>note</key>
        <string>在Finder选择图像文件</string>
        <key>xpos</key>
        <integer>140</integer>
        <key>ypos</key>
        <integer>110</integer>
      </dict>
      <key>AAC76CD5-61D3-450C-A0D4-1A4C25939902</key>
      <dict>
        <key>colorindex</key>
        <integer>12</integer>
        <key>note</key>
        <string>美化剪贴板上的截图，并复制美化图像到剪贴板上</string>
        <key>xpos</key>
        <integer>140</integer>
        <key>ypos</key>
        <integer>465</integer>
      </dict>
      <key>BF6FE28F-B4CA-4B1B-A65D-DF03C45913C8</key>
      <dict>
        <key>xpos</key>
        <integer>385</integer>
        <key>ypos</key>
        <integer>220</integer>
      </dict>
      <key>C22A37A0-4183-4F45-86E1-FCFF471C3173</key>
      <dict>
        <key>xpos</key>
        <integer>310</integer>
        <key>ypos</key>
        <integer>295</integer>
      </dict>
      <key>D9DC6744-BC14-4831-ACC7-68BE471AFD3E</key>
      <dict>
        <key>xpos</key>
        <integer>375</integer>
        <key>ypos</key>
        <integer>585</integer>
      </dict>
      <key>E4774F90-84EB-4E66-8C57-545E502D6592</key>
      <dict>
        <key>xpos</key>
        <integer>305</integer>
        <key>ypos</key>
        <integer>655</integer>
      </dict>
      <key>FF18904C-836A-4363-9FC0-0E10FA3EFC69</key>
      <dict>
        <key>xpos</key>
        <integer>555</integer>
        <key>ypos</key>
        <integer>730</integer>
      </dict>
      <key>WHITEBG-KEYWORD-001</key>
      <dict>
        <key>xpos</key>
        <integer>385</integer>
        <key>ypos</key>
        <integer>825</integer>
      </dict>
      <key>WHITEBG-TRIGGER-001</key>
      <dict>
        <key>xpos</key>
        <integer>385</integer>
        <key>ypos</key>
        <integer>700</integer>
      </dict>
    </dict>
    <key>userconfigurationconfig</key>
    <array/>
    <key>variables</key>
    <dict>
      <key>PYTHON_PATHS</key>
      <string>/Volumes/GEIL2T/Softwares/anaconda3/bin/python:/Users/ay/SoftwareData/anaconda/anaconda3/envs/torch/bin/python:/Users/ay/SoftwareData/anaconda/anaconda3/bin/python:/opt/homebrew/anaconda3/bin/python</string>
    </dict>
    <key>version</key>
    <string>1.0</string>
    <key>webaddress</key>
    <string>https://www.alfredapp.com</string>
  </dict>
</plist>